body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}
/*nav styles*/
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;
    background-color: #73745e;
    height: 115px;
}

ul {
    list-style-type: none;
}

li {
    display: flex;
    gap: 25px;
}

a {
    color:#f7ffdf;
    text-decoration: none;
}

a:hover {
    color: #fff;
    text-decoration: underline;
}
/*welcome section*/
.welcome {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 50px 90px;
    background-color: #f7ffdf;
}

/*grid style on homepage*/
.card {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 75px;
    padding: 15px 150px 50px 150px;
    background-color: #f7ffdf;
  }

  .cards {
    width: 100%; 
    border: 2px solid #73745e;
    padding: 25px;
    text-align: center;
    background-color: #fff;
  }
  
  .cards img {
    width: 50%;
  
  }
  
  .cards ul {
    list-style-type: none;
    padding: 0;
    
  }
  
  .cards li {
    margin-bottom: 5px;
  }

  ol {
    text-align: center;
  }
/*footer*/
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    background-color:#f7ffdf;
    border: 2px solid #73745e;
}

.footer a {
    color: #73745e;
}
/*profile styling for profile.php*/
.profile {
  display: flex;
  flex-direction: row;
  width: auto;
  padding: 50px ;
  margin: 100px 200px;
  align-items: center;
  gap: 75px;
  border: 2px solid #73745e;
  justify-content: space-evenly;
  background-color:#f7ffdf;
}

.profile-pic {
  width: 100%
}
/*contact form styling for create-duck.php*/
.contactbody {
  background-color:#73745e;
  padding: 0px 25px 50px 25px;
}

form {
  max-width: 500px;
  margin: 0 auto;
  background-color: rgb(243, 243, 187);
  padding: 20px;
  border-radius: 20px;
}

fieldset {
  border: none;
  text-align: center;
}

ol {
  list-style-type: none;
  padding: 0;
  text-align: left;
}

input[type="text"],
textarea,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"] {
  background-color:#72736c;
  color: #fff;
  border: none;
  padding: 15px 60px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 21px;
}

input[type="submit"]:hover {
  background-color:#939393;
}

/* Media query for phones */
@media only screen and (max-width: 695px) {
  .card {
    display: grid;
    grid-template-columns: repeat(1, auto); 
    gap: 75px;
    padding: 25px 150px;
    background-color: #f7ffdf;
  }
}

@media only screen and (max-width: 1080px) {
  .profile {
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 50px ;
    margin: 100px;
    align-items: center;
    gap: 75px;
    border: 2px solid #73745e;
    justify-content: space-evenly;
    background-color:#f7ffdf;
  }
  
  .profile-pic {
    width: 50%;
    flex-shrink: 0;
    flex-grow: 0;
  }
}
